<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Book Shopping Mall</h1>
            <p class='bg-primary'>We offer quality books</p>
        </div>
        
        <!-- <h2 class='text-danger'>Caution!</h2> -->
			<p><%= tagline %></p>

		<h2 class='bg-success'>Our Special Books</h2>
	<ul>
    	<% books.forEach(function(book) { %>
       	 <li><%= book.name %> - <%= book.authored %></li>
    	<% }); %>
	</ul>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>